.body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.collection{
    width: 80%;
    height: 1900px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 25px;
    padding: 30px 30px;
    margin-bottom: 50px;
}

