.body{
    max-width: 1240px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collection{
    max-width: 1240px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 25px;
    padding: 50px 0;
    margin-bottom: 50px;
    gap: 55px 60px;
}

/*@media screen and (max-width: 992px){
    .collection{
        height: auto;
    }
}*/

