header{
    width: 1240px;
    height: 68px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 63px 100px;
}

@media screen and (max-width: 1300px){
    header{
       width: 90%;
    }
}

@media screen and (max-width: 822px){
    header{
        margin: 25px 100px 25px 100px;
    }
}

.header-logo{
    display: block;
    height: 62px;
}

.header-link-logo{
    text-decoration: none;
}

.nav-hidden{
    display: none;
}

@media screen and (max-width: 558px){
    .nav-normal{
    display: none;
    }
}

@media screen and (max-width: 558px){
    .nav-hidden{
        display: block;
    }
}

ul{
    list-style: none;
    padding: 0;
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 558px){
    ul{
    width: 100%;
    margin-top: 20px;

    }
}

ul li{
    display: flex;
    justify-content: flex-end;
    width: 136px;
    height: 34px;
}

.header-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
}

.header-link:hover{
    text-decoration: underline 2px #FF6060;
}