header{
    width: 90%;
    height: 68px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 63px 100px;
}

.header-logo{
    display: block;
    height: 62px;
}

.header-link-logo{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: space-between;
}

ul li{
    display: flex;
    justify-content: flex-end;
    width: 136px;
    height: 34px;

}

.header-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
}