header{
    width: 90%;
    height: 68px;
    text-align: center;
    border: solid 1px grey;
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 63px 100px;
}

.header-logo{
    display: block;
    margin: 5px 0 0 20px;
    height: 62px;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    display: inline-block;
    margin-right: 20px;
}

.header-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
}